name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable pnpm
        run: npm i -g --force corepack && corepack enable
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm
      - name: Setup ni
        run: npm i -g @antfu/ni
      - name: Install
        run: nci
      - name: Test
        run: nr test --coverage
      - name: Build
        run: nr build
      - name: Lint
        run: nr lint
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.4.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: alexzhang1030/wshe
